<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloudHire"
        tools:targetApi="31">


        <!-- =============================== -->
        <!-- SPLASH SCREEN -->
        <!-- =============================== -->

        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>


        <!-- =============================== -->
        <!-- MAIN SCREEN -->
        <!-- =============================== -->

        <activity
            android:name=".MainActivity"
            android:exported="false" />


        <!-- =============================== -->
        <!-- CANDIDATE LOGIN -->
        <!-- =============================== -->

        <activity
            android:name=".CandidateLoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <!-- =============================== -->
        <!-- CANDIDATE REGISTRATION -->
        <!-- =============================== -->

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <!-- =============================== -->
        <!-- CANDIDATE FORGOT PASSWORD -->
        <!-- STEP 1 - EMAIL -->
        <!-- =============================== -->

        <activity
            android:name=".CandidateForgotPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <!-- =============================== -->
        <!-- CANDIDATE OTP -->
        <!-- STEP 3 -->
        <!-- =============================== -->

        <activity
            android:name=".CandidateOtpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <!-- =============================== -->
        <!-- CANDIDATE NEW PASSWORD -->
        <!-- STEP 4 -->
        <!-- =============================== -->

        <activity
            android:name=".CandidateNewPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <!-- =============================== -->
        <!-- CANDIDATE PASSWORD RESET SUCCESS -->
        <!-- STEP 5 -->
        <!-- =============================== -->

        <activity
            android:name=".CandidatePasswordResetSuccessActivity"
            android:exported="false" />


        <!-- =============================== -->
        <!-- RECRUITER LOGIN -->
        <!-- =============================== -->

        <activity
            android:name=".RecruiterLoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <!-- =============================== -->
        <!-- RECRUITER REGISTRATION -->
        <!-- =============================== -->

        <activity
            android:name=".RecruiterRegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <!-- =============================== -->
        <!-- RECRUITER FORGOT PASSWORD -->
        <!-- STEP 1 - EMAIL -->
        <!-- =============================== -->

        <activity
            android:name=".RecruiterForgotPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <!-- =============================== -->
        <!-- RECRUITER OTP -->
        <!-- =============================== -->

        <activity
            android:name=".RecruiterOtpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <!-- =============================== -->
        <!-- RECRUITER NEW PASSWORD -->
        <!-- STEP 4 -->
        <!-- =============================== -->

        <activity
            android:name=".RecruiterNewPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <!-- =============================== -->
        <!-- RECRUITER PASSWORD RESET SUCCESS -->
        <!-- STEP 5 -->
        <!-- =============================== -->

        <activity
            android:name=".PasswordResetSuccessActivity"
            android:exported="false" />


        <!-- =============================== -->
        <!-- CANDIDATE DASHBOARD -->
        <!-- =============================== -->

        <activity
            android:name=".CandidateDashboardActivity"
            android:exported="false" />


        <!-- =============================== -->
        <!-- CANDIDATE PROFILE -->
        <!-- =============================== -->

        <activity
            android:name=".CandidateProfileActivity"
            android:exported="false" />


        <!-- =============================== -->
        <!-- RECRUITER DASHBOARD -->
        <!-- =============================== -->
        <!-- RECRUITER DASHBOARD -->

        <activity
            android:name=".RecruiterDashboardActivity"
            android:exported="false" />

        <!-- RECRUITER PROFILE -->

        <activity
            android:name=".RecruiterProfileActivity"
            android:exported="false" />

        <!-- EDIT RECRUITER PROFILE -->
        <activity
            android:name=".RecruiterEditProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".RecruiterMyJobsActivity"
            android:exported="false" />
    </application>

</manifest>